{% extends "account/base.html" %} {% block title %}Настройки{% endblock %}
{% block page-title %}
    Сменить информацию
{% endblock %}
{% block path %}
    <li class="active">Settings</li>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row" style="margin-top:20px">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <div class="panel info-box panel-white">
                    <div class="panel-body">
                        <form action="" method="post">{% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" value="Update"/>
                        </form>
                        <a href="{% url 'account:change_pass' %}">Смена пароля</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}