<!DOCTYPE html>
<html>
<head>
	<title>Test Form for Task</title>
</head>
<body>
	<h1>{{ action }} task</h1>
    {% if msg %}
        {{ msg }}
    {% endif %}
	<form action="" method="POST">
		<div class="field">
            {{ form.title.errors }}
            <label for="id_title">Title:</label>
            {{ form.title }}
        </div>
        {% if action == "Update" %} 
            <div class="field">
                {{ form.state.errors }}
                <label for="id_state">State:</label>
                {{ form.state }}
            </div>
        {% endif %} 
        <div class="field">
            {{ form.estimate.errors }}
            <label for="id_estimate">Estimate:</label>
            {{ form.estimate }}
        </div>

		{% csrf_token %}
		<input type="submit" value="Submit">
	</form>
</body>
</html>