{% extends "main.html" %} {%block title%}Roadmap list{% endblock %} {%block content%}
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <div class="modal-body">
                <h3>Вы действительно хотите удалить этот roadmap?</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Нет</button>
                <a class="btn btn-danger btn-ok">Да</a>
            </div>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="row col-md-offset-2 col-md-8">
        <h1>Roadmap list</h1>
        <p><a class='btn btn-primary' href="{%  url 'roadmap:roadmap_new' %}">Create new Roadmap</a></p>
        <p><a class='btn btn-primary' href="{%  url 'roadmap:roadmap_stats' %}">See the Roadmaps Stats</a></p>
        <div class="table-responsive ">
        	<table class="table table-hover">
        		{% for roadmap in roadmaps %}
	            <tr class='row'>
	                <td class='col-md-8'>
	                    {{ roadmap.name }}</td>
	                <td class='col-md-2'><a href="{% url 'roadmap:roadmap' pk=roadmap.pk %}">Show tasks</a></td>
	                <td class='col-md-2'><a  data-href="{% url 'roadmap:roadmap_delete' pk=roadmap.pk %}" data-toggle="modal" data-target="#confirm-delete"href="#">Delete Roadmap</a></td>
	            </tr>
         		{% endfor %}
        	</table>
		</div>
    </div>
</div>
<script>$('#confirm-delete').on('show.bs.modal', function(e) {
    $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
});</script>
{% endblock %}
