{% extends "main.html" %} {%block title%}task {{task.pk}}{% endblock %} 
{%block content%}
<div class="wrapper">
    <div class="row col-md-offset-2 col-md-8">
		<h1{%if task.is_crit %} style="color:red;"{%endif%}>{{ task.title }}</h1>

	    <p>Task estimate: {{ task.estimate }} </p>
	    <p>Task state: {{ task.state }} </p>
	    {% if task.score is not None %}<p>Task points: {{ task.score.points }} </p>{% endif %}

	    <a href="{% url 'roadmap:task_edit' pk=task.pk %}">Edit task</a>
	</div>
</div>	
</div>
{% endblock %}