{% extends "account/base.html" %} {%block title%}task {{task.pk}}{% endblock %}
{%block content%}
<div class="wrapper">
    <div class="row col-md-offset-2 col-md-8">
		<h1{%if task.is_crit %} style="color:red;"{%endif%}>{{ task.title }}</h1>
	    <p>Task estimate: {{ task.estimate }} </p>
	    <p>Task state: {{ task.state }} </p>
	    {% if task.score %}<p>Task points: {{ task.score.points }} </p>{% endif %}

	    <a href="{% url 'roadmap:task_edit' pk=task.pk %}">Edit task</a>
	    <p><a class='btn btn-default' href="{%  url 'roadmap:roadmap' pk=task.roadmap.pk %}">Back to Roadmap</a></p>
	</div>
</div>	
</div>
{% endblock %}